#products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  width: 250px;
  border: 1px solid black;
  padding: 15px;
  border-radius: 8px;
  background-color: lightgray;
}
s